{% extends "store/layout.html" %}
{% load static %}
{% block body %}
<div class="container">
    <h3>login</h3>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="form-text">{{ message }}</div>
        <div class="m-3">
            <input type="text" class="form-control" name="username" placeholder="Username" id="name">
        </div>

        <div class="m-3">
            <input type="password" class="form-control" name="password" placeholder="password" id="password">
        </div>
        
        <input class="btn btn-primary m-3" type="submit" value="login">
    </form>
</div>
{% endblock %}